@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vzjt0n');
  src:  url('fonts/icomoon.eot?vzjt0n#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vzjt0n') format('truetype'),
    url('fonts/icomoon.woff?vzjt0n') format('woff'),
    url('fonts/icomoon.svg?vzjt0n#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-align-right:before {
  content: "\e900";
}
.icon-arrow-down:before {
  content: "\e901";
}
.icon-arrow-down-circle:before {
  content: "\e902";
}
.icon-at-sign:before {
  content: "\e903";
}
.icon-book:before {
  content: "\e904";
}
.icon-bookmark:before {
  content: "\e905";
}
.icon-camera:before {
  content: "\e906";
}
.icon-code:before {
  content: "\e907";
}
.icon-copy:before {
  content: "\e908";
}
.icon-edit-3:before {
  content: "\e909";
}
.icon-external-link:before {
  content: "\e90a";
}
.icon-eye:before {
  content: "\e90b";
}
.icon-facebook:before {
  content: "\e90c";
}
.icon-file-text:before {
  content: "\e90d";
}
.icon-github:before {
  content: "\e90e";
}
.icon-gitlab:before {
  content: "\e90f";
}
.icon-instagram:before {
  content: "\e910";
}
.icon-layers:before {
  content: "\e911";
}
.icon-linkedin:before {
  content: "\e912";
}
.icon-menu:before {
  content: "\e913";
}
.icon-monitor:before {
  content: "\e914";
}
.icon-moon:before {
  content: "\e915";
}
.icon-navigation:before {
  content: "\e916";
}
.icon-paperclip:before {
  content: "\e917";
}
.icon-pen-tool:before {
  content: "\e918";
}
.icon-phone:before {
  content: "\e919";
}
.icon-save:before {
  content: "\e91a";
}
.icon-sun:before {
  content: "\e91b";
}
.icon-terminal:before {
  content: "\e91c";
}
.icon-x:before {
  content: "\e91d";
}
.icon-youtube:before {
  content: "\e91e";
}
