<template>
    <div>
        <section class="section">
            <h3 class="section__title">
                Articulos interesantes
            </h3>
    
            <p class="section__paragraph">
                En el dia a dia siempre aparecen articulos de los que se prenden cosas interesantes que uno ignoraba o que sirven para aclarar dudas que no nos dejan dormir por que San Google no pudo darnos información convincente.
            </p>
            <p class="section__paragraph">
                Esta es una recopilacion de articulos de distintos profesionales que pueden ayudarnos a mejorar nuestras habilidades.
            </p>
    
            <div class="disclaimer">
                <div class="disclaimer__title">
                    Importante
                </div>
                <p class="disclaimer__text">
                    Estos articulos NO son de mi autoria, son solo enlaces a los articulos originales citando a los autores y fuentes respectivas.
                </p>
            </div>
    
            <Loader v-if="loading"></Loader>
            
            <Cards type="articles" :data="articles" v-if="!loading"></Cards>
    
        </section>
    </div>
</template>

<script>
import axios from 'axios'
import Cards from '../components/Cards'
import Loader from '../components/Loader'

export default {
    name: 'Articles',
    components: {
        Cards,
        Loader
    },
    data() {
        return {
            articles: {},
            loading: true
        }
    },
    mounted() {
        axios
            .get(`${process.env.VUE_APP_API}/articles`)
            .then(response => {
                this.articles = response.data
                this.loading = false
            })
            .catch(error => {
                console.error('Error al obtener datos')
                console.error(error)
            });
    }
}
</script>

<style lang="scss">
// Disclaimer
.disclaimer {
    border: $border;
    border-width: 3px;
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
    .disclaimer__title {
        @include principal-regular;
        font-size: 1em;
        text-transform: uppercase;
        position: relative;
        display: inline-block;
        &:after {
            content: '';
            position: absolute;
            width: 170%;
            height: 1px;
            background-color: $principal-color;
            bottom: 0;
            left: -35%;
        }
    }
    .disclaimer__text {
        @include secondary-regular;
        font-size: 1em;
        margin-top: 15px;
    }
}
</style>