<template>
    <div>
        <section class="section">
            <h3 class="section__title">
                He leído...
            </h3>
    
            <p class="section__paragraph">
                Hay muchos libros que me han parecido lo suficientemente interesantes como para ser recomendados.
            </p>
            <p class="section__paragraph">
                Esta lista no tiene una clasificación en especial sino que es una recopilación de lecturas entretenidas que a mas de alguno le pueda ayudar a decidir con que libro continuar.
            </p>
    
            <Loader v-if="loading"></Loader>
    
            <Cards type='books' :data='books' v-if="!loading"></Cards>
    
        </section>
    </div>
</template>

<script>
import axios from 'axios'
import Loader from '../components/Loader.vue'
import Cards from '../components/Cards.vue'

export default {
    name: 'Books',
    components: {
        Loader,
        Cards
    },
    data() {
        return {
            books: {},
            loading: true
        }
    },
    mounted() {
        axios
            .get(`${process.env.VUE_APP_API}/books`)
            .then(response => {
                this.books = response.data
                this.loading = false
            })
            .catch(error => {
                console.error('Error al obtener datos')
                console.error(error)
            });
    }
}
</script>

<style lang="scss">

</style>