<template>
  <div class="home">

    <Portada></Portada>

    <section class="presentation">
        <div class="presentation__card">
            <div class="presentation__image"></div>
            <div class="presentation__text">
                <h3 class="presentation__title">
                    ¿Quien Soy?
                </h3>
                <p class="presentation__paragraph">
                    Soy un desarrollador dedicado a la construcción de productos 
                    digitales enfocados en la usabilidad del usuario, además 
                    comprometido con el trabajo en equipo y el desarrollo de 
                    soluciones innovadoras con las mejores tecnologías disponibles.
                </p>
                <p class="presentation__paragraph">
                    Ademas de la tecnología soy fanático de la cocina, el cine y 
                    la fotografiá. 
                    <a href="https://www.instagram.com/juramirezp/">
                        Pasa a ver alguna de mis fotos.
                    </a>
                </p>
            </div>
        </div>
    </section>

    <Skills></Skills>
  </div>
</template>

<script>
import Portada from '../components/Portada.vue'
import Skills from '../components/Skills.vue'


export default {
  name: 'Home',
  components:{
    Portada,
    Skills
  }
}
</script>

<style lang="scss">
// Presentation

.presentation{
    
    .presentation__card{
        background-color: $principal-color;
        padding: 10px;

        .presentation__image{
            min-height: 50vh;
            width: 100%;
            background-image: url('../assets/img/foto-perfil.jpg');
            background-size: cover;
            background-position: center;
        }
    
        .presentation__text{
            padding: 20px 0;
    
            .presentation__title{
                @include title-section('white');
            }
    
            .presentation__paragraph{
                @include text-section;
            }
        }
    }
}

// Media Queries

@media screen and (min-width: $bkp-md) {
    .presentation{
        
        .presentation__card{
            padding: 7px;
            display: flex;
            
            .presentation__image{
                width: 50%;
                min-height: auto;
            }
    
            .presentation__text{
                width: 50%;
                padding: 20px;
            }
        }
    }
}
</style>
