<template>
    <div>
        <section class="section">
            <h3 class="section__title">
                Mis Proyectos
            </h3>
    
            <p class="section__paragraph">
                He participado en varios proyectos utilizando distintas tecnologias y colaborando con un amplio abanico de profesionales.
            </p>
            <p class="section__paragraph">
                He participado en varios proyectos utilizando distintas tecnologias y colaborando con un amplio abanico de profesionales.
            </p>
    
            <Loader v-if="loading"></Loader>
    
            <Cards type='proyects' :data='proyects' v-if="!loading"></Cards>
    
        </section>
    </div>
</template>

<script>
import axios from 'axios'
import Loader from '../components/Loader.vue'
import Cards from '../components/Cards.vue'

export default {
    name: 'Proyects',
    components: {
        Loader,
        Cards
    },
    data() {
        return {
            proyects: {},
            loading: true
        }
    },
    mounted() {
        axios
            .get(`${process.env.VUE_APP_API}/proyects`)
            .then(response => {
                this.proyects = response.data
                console.log(this.proyects)
                this.loading = false
            })
            .catch(error => {
                console.error('Error al obtener datos')
                console.error(error)
            });
    }
}
</script>

<style lang="scss">

</style>