<template>
  <div>
    <footer class="footer">
        <h4 class="footer__name">Juan Ramirez</h4>
        <p class="footer__mail">
            <!-- hola@juanramirez.cl -->
            <span>h</span>
            <i>o</i>
            <span>l</span>
            <i>a</i>
            <span>@</span>
            <i>j</i>
            <span>u</span>
            <i>a</i>
            <span>n</span>
            <i>r</i>
            <span>a</span>
            <i>m</i>
            <span>i</span>
            <i>r</i>
            <span>e</span>
            <i>z</i>
            <span>.</span>
            <i>c</i>
            <span>l</span>
        </p>
        <div class="footer__icons">
            <a href="https://www.linkedin.com/in/juramirezp/">
                <span class="footer__icon icon-linkedin"></span>
            </a>
            <a href="https://www.instagram.com/juramirezp/">
                <span class="footer__icon icon-instagram"></span>
            </a>
            <a href="https://gitlab.com/juramirezp">
                <span class="footer__icon icon-gitlab"></span>
            </a>
        </div>
    </footer>
  </div>
</template>

<script>

export default {
  name: 'Footer'
}
</script>

<style lang="scss">
// Footer

.footer{
    background-color: $principal-color;
    color: $secondary-color;
    text-align: center;
    padding: 50px 20px;
    margin-top: 30px;

    .footer__name{
        text-transform: uppercase;
        letter-spacing: 5px;
        @include principal-regular;
        font-size: 1.5em;
    }
    
    .footer__mail{
        @include principal-regular;
        margin: 5px 0;
        
        span, i{
            font-style: normal;
            font-size: 1.3em;
        }
    }

    .footer__icons{
        display: flex;
        justify-content: center;
        margin-top: 15px;

        a{
            text-decoration: none;
            color: $secondary-color;
        }
        
        .footer__icon{
            font-size: 2em;
            margin:10px;
        }
    }
}
</style>
