<template>
    <div class="menu">
        <header class="header" id="header" :class="{ 'header__scroll--menu' : visible, 'header--fixed': actualView != 'Home', 'header--scroll': scrolled}">
            <div class="header__title">
                Juan Ramirez
            </div>
    
            <div class="header__button" id="header__button" @click="visible = !visible" :class="{ 'header__button--show' : visible}">
                <span class="icon-align-right"></span>
                <span class="icon-x"></span>
            </div>
    
            <div class="header__menu" id="header__menu" :class="{ 'header__menu--show' : visible}">
                <ul class="header__menu__list">
                    <li class="header__menu__item" @click="closeMenu">
                        <router-link to="/">Home</router-link>
                    </li>
                    <li class="header__menu__item" @click="closeMenu">
                        <router-link to="/proyects">Proyectos</router-link>
                    </li>
                    <li class="header__menu__item" @click="closeMenu">
                        <router-link to="/books">Libros recomendados</router-link>
                    </li>
                    <li class="header__menu__item" @click="closeMenu">
                        <router-link to="/articles">Artículos de interés</router-link>
                    </li>
                </ul>
            </div>
        </header>
    </div>
</template>

<script>
export default {
    name: 'Menu',
    data() {
        return {
            visible: false,
            scrolled: false,
            actualView: 'Home'
        }
    },
    methods: {
        scroll() {
            window.onscroll = () => {
                if (window.scrollY > 20) {
                    this.scrolled = true
                } else {
                    this.scrolled = false
                }
            }
        },
        closeMenu() {
            this.visible = !this.visible
        }
    },
    mounted() {
        this.scroll()
    },
    watch: {
        '$route' (to) {
            this.actualView = to.name
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
/* Menu */

.header {
    @include principal-medium;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: $secondary-color;
    transition: all .5s;
    border-bottom: $border;
    border-color: $secondary-color;
    &.header--scroll,
    &.header--scroll--menu {
        border-color: $principal-color;
        .header__title {
            opacity: 1;
        }
    }
    &.header--fixed {
        border-color: $principal-color;
        .header__title {
            opacity: 1;
        }
    }
    .header__title {
        font-size: 1.3em;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: all .5s;
        opacity: 0;
    }
    .header__button {
        font-size: 1.6em;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 1em;
        width: 1em;
        cursor: pointer;
        .icon-x,
        .icon-align-right {
            position: absolute;
            transition: all .5s;
        }
        .icon-x {
            opacity: 0;
        }
        &.header__button--show {
            .icon-x {
                transform: rotate(360deg);
                opacity: 1;
            }
            .icon-align-right {
                transform: rotate(360deg);
                opacity: 0;
            }
        }
    }
    .header__menu {
        width: 100%;
        position: absolute;
        top: 54px;
        background-color: $secondary-color;
        z-index: 10;
        transition: all .7s;
        opacity: 0;
        left: 100%;
        &.header__menu--show {
            left: 0;
            opacity: 1;
        }
        &.header__menu--visible {
            opacity: 1;
        }
        .header__menu__list {
            list-style: none;
            padding: 0;
            .header__menu__item {
                cursor: pointer;
                &:hover {
                    background-color: #2f3136;
                    a {
                        color: $secondary-color;
                    }
                }
                a {
                    display: block;
                    padding: 12px 20px;
                    text-decoration: none;
                    color: $principal-color;
                }
            }
        }
    }
}

/* Responsive */

@media (min-width: 640px) {
    header .button {
        display: none;
    }
    header .nav {
        right: 0;
        display: block;
    }
}
</style>
