<template>
  <div class="skills">

    <section class="skills">
        <h3 class="skills__title">
            Mis Skills
        </h3>
        <div class="skills__buttons">
            <div class="skills__button">
                html5
            </div>
            <div class="skills__button">
                css3
            </div>
            <div class="skills__button">
                sass
            </div>
            <div class="skills__button">
                stylus
            </div>
            <div class="skills__button">
                pug
            </div>
            <div class="skills__button">
                javascript
            </div>
            <div class="skills__button">
                vuejs
            </div>
            <div class="skills__button">
                angularjs
            </div>
            <div class="skills__button">
                angular
            </div>
            <div class="skills__button">
                jquery
            </div>
            <div class="skills__button">
                nodejs
            </div>
            <div class="skills__button">
                mongodb
            </div>
            <div class="skills__button">
                firebase
            </div>
            <div class="skills__button">
                nuxt
            </div>
            <div class="skills__button">
                bootstrap
            </div>
            <div class="skills__button">
                bulmacss
            </div>
            <div class="skills__button">
                tailwindcss
            </div>
            <div class="skills__button">
                materializecss
            </div>
            <div class="skills__button">
                git
            </div>
            <div class="skills__button">
                gulp
            </div>
            <div class="skills__button">
                grunt
            </div>
            <div class="skills__button">
                bower
            </div>
            <div class="skills__button">
                yarn
            </div>
            <div class="skills__button">
                figma
            </div>
            <div class="skills__button">
                sketch
            </div>
            <div class="skills__button">
                jira
            </div>
            <div class="skills__button">
                wordpress
            </div>
        </div>
    </section>
  </div>
</template>

<script>

export default {
  name: 'Skills'
}
</script>

<style lang="scss">

// Skills

.skills{
    padding: 20px;

    .skills__title{
        @include title-section('black');
    }

    .skills__buttons{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .skills__button{
            padding: 10px 15px;
            border: $border;
            border-width: 2px;
            text-transform: uppercase;
            @include principal-regular;
            font-size: 1.3em;
            margin: 10px;
        }
    }
}
</style>
